:root {
  --maintext: rgb(224, 24, 108);
}

.bg-gif {
  background-image: url(https://media1.giphy.com/media/Ju7l5y9osyymQ/200.webp?cid=ecf05e476rcohikfhv5o1i8gkg23kb0j4xdm964wvh5gg43x&rid=200.webp&ct=g);
  background-size: cover;
  background-repeat: no-repeat;
  height: 150vh;
}

.card {
  color: rgb(224, 24, 108);
  background-color: #21239c;
}

nav {
  background-color: #393cb3;
}

.text-fix {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-inf {
  background-color: #21239cc2;
  color: rgb(224, 24, 108);
  position: absolute;
  width: 50vw;
  top: 200px;
  left: 690px;
  height: 40vh;
}

.spill {
  /* top: 30px; */
  /* height: 160px;
  width: 550px; */
  /* size: auto; */
  position: relative;
  /* left: 750px; */
  background-color: #21239cc2;
  color: rgb(224, 24, 108);
}

.recent-posts {
  background-color: grey;
  margin: 2em;
}

.something {
  background-color: grey;
  margin: 2em;
}

.testimonials {
  background-color: grey;
  color: var(--maintext);
  margin: 2em;
}

footer {
  background-color: grey;
  margin: 2em;
}
